@import url("https://fonts.googleapis.com/css2? family= Great+Vibes & family= Pixelify+Sans & display=swap");

:root {
  background: linear-gradient(#00ccff, #d400d4);
  margin: 0%;
  padding: 0px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow-y: scroll;
  font-family: "Great Vibes", cursive;
  color: white;
  background-image: url("C:\Users\riosd\OneDrive\Escritorio\pi-poke-finalizado\PokemonPI-master\client\src\img\2e7f2679-810e-4ed4-b3a9-d33b50dc72f5.png");
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  background: linear-gradient(#00ccff, #d400d4);
  -webkit-background-clip: text; /* Agregado el prefijo -webkit- */

  -webkit-text-fill-color: transparent;
  border-radius: 100px;
  margin-top: 25%;
  width: 100%;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta la altura según tus necesidades */
  text-align: center; /* Centra el texto horizontalmente en el espacio creado */
  background-color: transparent;
  font-family: "Great Vibes", cursive;
  -webkit-text-stroke: 2px black; /* Para navegadores basados en WebKit, como Chrome y Safari */
}
