.detail {

   
  
    border-radius: 50px;
    display: inline-table;
    background-color: rgba(245, 241, 248, 0.414);
    padding: 10%;
    box-shadow:0 0 30px rgb(231, 45, 231);; /* Agregamos una sombra transparente para los bordes */
    margin: 1%;
    width: 55%; /* Ancho de 200 píxeles */
    height: 10%; /* Alto de 100 píxeles */
    cursor: pointer;
    font-family: 'Great Vibes', cursive;
    color: rgb(108, 2, 108);
    border-color: 5px ;
   
  }
  
 