.conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    min-height: 100vh; 
    gap: 1em;
    left: 0;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    font-family: 'Great Vibes', cursive;

}